<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}Backtester.io{% endblock %}</title>

  <meta name="viewport" content="width=980">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Styles -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
  </style>
  {% block css %}{% endblock %}

  <!-- Favicon, touch icons -->
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-touch-icon-114x114.png">

  <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Modernizr should load in head, other scripts are loaded below. -->
  <script src="/assets/js/libs/modernizr.js"></script>
</head>

<body>

  <!-- Top navbar -->
  <div id="navbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">

        <a class="brand" href="#">Backtester.io</a>

        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
        </ul>

        <form class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="Search (e.g. GOOG)">
        </form>

      </div>
    </div>
  </div>

  <!-- Everything below the navbar -->
  <div class="container-fluid">
    <div id="content" class="row-fluid">

      {% include "sidebar.html" %}

      <!-- Main content -->
      <div id="main" class="span9">
        <div id="chart"></div>
      </div><!--/#main-->

    </div><!--/#content-->

    <hr>

    <footer>
      <p>&copy; Matt Holden 2012</p>
    </footer>

  </div><!--/.container-fluid-->


  <!-- Load JavaScript at the bottom for fast page loading -->

  <!-- Fetch jQuery from Google's CDN, or fall back to local -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/js/libs/jquery.js">\x3C/script>')</script>

  <!-- Include libs, templates, app JavaScript -->
  {% assets "libs.js" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "templates.js" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "app.js" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block js %}{% endblock %}

  <!-- Prompt IE 6-7 users to install Chrome Frame -->
  <!--[if lte IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>